@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
    font-family: 'Press Start 2P', sans-serif;
}

.section1{
    width: 100%;
    background-color: black;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-bottom: 5%;
}
header h2{
    font-family: 'Press Start 2P'; 
    color: aliceblue;
    font-size: 12px;
}

.sec1-center{
    text-align: center;
}
.sec1-center h1{
    font-family: 'Press Start 2P'; 
    color: aliceblue;
    font-size: 28px;
}
.sec1-bb{
    width: 100%;
    height: 10px;
    background-color: white;
    margin-bottom: 45px;
    margin-top: 125px;
}
.sec1-bb2{
    width: 12%;
    height: 70px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin: -86px auto;
}
.bibibi{
    padding-top: 22px;
}
.sec1-bb2 h2{
    font-size: 35px;
}

.sec1-footer{
    padding-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.footer-right h2{
    font-family: 'Press Start 2P'; 
    color: aliceblue;
    font-size: 18px;
    padding-bottom: 14%;
}
.ff{
    width: 65%;
    height: 11vh;
    border: 4px solid white;
    margin: 0 auto;
    margin-bottom: 10%;
}

.ff input{
    border: none;
    background-color: black;
    color: white;
    width: 98%;
    height: 98%;
    text-align: center;
}

.prov{
    padding-left: 35px;
    margin-bottom: 25%;
}

.right-h2{
    font-family: 'Press Start 2P'; 
    color: aliceblue;
    font-size: 20px;
    padding-bottom: 4%;
    
}
